.auth {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
img {
  width: 25px;
}
.auth-page {
  text-align: center;
  max-width: 500px;
  width: 100%;
}
.login-btn {
  padding: 20px;
  margin-top: 10px;
}
.btn-block {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.email-login {
  margin-top: 25px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logout {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
::ng-deep app-login {
  width: 100%;
  align-items: stretch;
  max-width: 500px;
  display: flex;
}

::ng-deep app-register {
  width: 100%;
  align-items: stretch;
  max-width: 500px;
  display: flex;
}

::ng-deep app-reset {
  width: 100%;
  align-items: stretch;
  max-width: 300px;
  display: flex;
}