<mat-card>
  <div class="form__header">
    <h3>Log in to an exiting account</h3>

    <a [routerLink]="['/login', { outlets: { auth: 'register' } }]"
      ><button mat-stroked-button>New User?</button></a
    >
  </div>

  <form class="form__main" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-input
      formControlName="email"
      placeholder="Email"
      type="email"
      fieldName="email"
      [parentForm]="loginForm"
    ></app-input>

    <app-input
      formControlName="password"
      placeholder="Password"
      type="password"
      fieldName="password"
      [parentForm]="loginForm"
    ></app-input>

    <mat-error class="server-error">{{ errorMessage$ | async }}</mat-error>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Submit
    </button>
  </form>

  <a [routerLink]="['/login', { outlets: { auth: 'reset' } }]">
    <button class="form__forgot-pass" mat-button>Forgot password?</button>
  </a>
</mat-card>
